.gitattributes

# Mac files
.DS_Store

# Eclipse files
.project
.metadata
.settings

# notebook directory
Notebook

# developer directory
Workbench

# sample data
SampleData/pdf/**
SampleData/tex/aux

# build files
build/incremental
build/Yurie__BlueArXiv
build/HTML